html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: khaki;
  width: 100%;
  height: auto;
  overflow: hidden;
  /****************/
  /**FIRST SECTION*/
  /****************/
  /*****************/
  /**SECOND SECTION*/
  /*****************/
  /****************/
  /**THIRD SECTION*/
  /****************/
  /*****************/
  /**FOURTH SECTION*/
  /*****************/
  /****************/
  /**FIFTH SECTION*/
  /****************/
  /****************/
  /**SIXTH SECTION*/
  /****************/
  /******************/
  /**SEVENTH SECTION*/
  /******************/
  /*****************/
  /**EIGHTH SECTION*/
  /*****************/
}

main section {
  background-color: transparent;
}

main .container {
  width: 1140px;
  height: 100%;
}

main #first {
  width: 100%;
  height: 755px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/home-motorcycle.jpg);
  background-size: cover;
  position: relative;
}

main #first::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

main #first header {
  width: 100%;
  height: 12%;
  z-index: 1;
}

main #first header .header-container {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #first header .header-container .web-logo {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #first header .header-container .web-logo h1 {
  font-size: 3em;
  color: #ffffff;
}

main #first header .header-container nav {
  width: 43%;
  height: 100%;
}

main #first header .header-container nav > ul {
  width: 90%;
  height: 100%;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #first header .header-container nav > ul li {
  width: auto;
  height: 32px;
  background-color: palegreen;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

main #first header .header-container nav > ul li a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
}

main #first header .header-container nav > ul li:nth-of-type(4) {
  position: relative;
}

main #first header .header-container nav > ul li:nth-of-type(4) ul {
  position: absolute;
  width: 100%;
  top: 100%;
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

main #first header .header-container nav > ul li:nth-of-type(4) ul li {
  width: 100%;
  position: relative;
  margin-bottom: 2px;
}

main #first header .header-container nav > ul li:nth-of-type(4) ul li a {
  text-decoration: none;
}

main #first .first-section {
  width: 100%;
  height: 88%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #first .first-section .first-container > div {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

main #first .first-section .first-container > div div {
  width: 100%;
  height: 40%;
  margin-top: 40%;
}

main #first .first-section .first-container > div div h2 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main #first .first-section .first-container > div div p {
  margin: 0;
  margin-top: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
}

main #first .first-section .first-container > div div button {
  margin-top: 30px;
  width: 152px;
  height: 50px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  font-size: .9em;
  color: #ffffff;
}

main #first .first-section .first-container > div div button:hover {
  background-color: #ffffff;
  color: #556b2f;
}

main #second {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #second .second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 642px;
}

main #second .second-container > div:first-of-type {
  height: 45%;
  width: 100%;
}

main #second .second-container > div:first-of-type h2 {
  text-align: center;
  font-size: 2.7em;
  color: #33353a;
}

main #second .second-container > div:first-of-type p {
  text-align: center;
  font-weight: 500;
  color: #5e5e5e;
  line-height: 30px;
}

main #second .second-container > div:last-of-type {
  height: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

main #second .second-container > div:last-of-type > div {
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #second .second-container > div:last-of-type > div .second-icons {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #second .second-container > div:last-of-type > div .second-icons span {
  display: block;
  width: 70%;
  height: 35%;
  background-color: cornflowerblue;
}

main #second .second-container > div:last-of-type > div div:last-of-type {
  width: 75%;
  height: 100%;
  margin-left: 15px;
}

main #second .second-container > div:last-of-type > div div:last-of-type h3 {
  text-transform: uppercase;
}

main #second .second-container > div:last-of-type > div div:last-of-type p {
  font-weight: 500;
  color: #5e5e5e;
  line-height: 25px;
}

main #third {
  width: 100%;
  height: auto;
  background-color: #EBEDEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #third .third-container {
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #third .third-container > div:first-of-type {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #third .third-container > div:first-of-type .third-info {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #third .third-container > div:first-of-type .third-info > div {
  height: 30%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #third .third-container > div:first-of-type .third-info > div div:first-of-type {
  width: 30%;
  height: 90%;
  position: relative;
  border: 5px solid #ffffff;
}

main #third .third-container > div:first-of-type .third-info > div div:first-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #third .third-container > div:first-of-type .third-info > div div:last-of-type {
  width: 65%;
  height: 90%;
}

main #third .third-container > div:first-of-type .third-info > div div:last-of-type h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
  color: #556b2f;
}

main #third .third-container > div:first-of-type .third-info > div div:last-of-type p {
  font-weight: 500;
  line-height: 25px;
  color: #5e5e5e;
}

main #third .third-container > div:last-of-type {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #third .third-container > div:last-of-type .dirtbike {
  height: 80%;
  width: 100%;
  position: relative;
  border: 5px solid #ffffff;
}

main #third .third-container > div:last-of-type .dirtbike img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #fourth {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #fourth .fourth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 747px;
}

main #fourth .fourth-container h2 {
  font-size: 2.8em;
  text-align: center;
  color: #33353a;
  margin: 100px 0 90px 0;
}

main #fourth .fourth-container .services {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #fourth .fourth-container .services > div {
  width: 20%;
  height: 100%;
}

main #fourth .fourth-container .services > div div:first-of-type {
  width: 100%;
  height: 60%;
}

main #fourth .fourth-container .services > div div:first-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #fourth .fourth-container .services > div div:last-of-type {
  width: 100%;
  height: 40%;
  overflow: hidden;
}

main #fourth .fourth-container .services > div div:last-of-type h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1em;
  color: #556b2f;
}

main #fourth .fourth-container .services > div div:last-of-type p {
  text-align: center;
  font-weight: 500;
  line-height: 25px;
  color: #5e5e5e;
}

main #fifth {
  width: 100%;
  height: 105vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

main #fifth .fifth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #fifth .fifth-container h2 {
  font-size: 2.8em;
  text-align: center;
  margin-top: 100px;
  color: #33353a;
}

main #fifth .fifth-container > div {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #fifth .fifth-container > div div {
  width: 32.2%;
  height: 45.5%;
  position: relative;
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

main #fifth .fifth-container > div div:hover {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

main #fifth .fifth-container > div div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #sixth {
  width: 100%;
  height: auto;
  background-image: url(../img/stats-warehouse.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #sixth::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
}

main #sixth .sixth-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  height: 490px;
}

main #sixth .sixth-container > div:first-of-type {
  width: 50%;
  height: 100%;
}

main #sixth .sixth-container > div:first-of-type h2 {
  font-size: 2.8em;
  color: #ffffff;
  margin-top: 80px;
}

main #sixth .sixth-container > div:first-of-type p {
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
}

main #sixth .sixth-container > div:last-of-type {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #sixth .sixth-container > div:last-of-type > div {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main #sixth .sixth-container > div:last-of-type > div:nth-of-type(3), main #sixth .sixth-container > div:last-of-type > div:last-of-type {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
}

main #sixth .sixth-container > div:last-of-type > div div {
  width: 60%;
  height: 60%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #sixth .sixth-container > div:last-of-type > div div span {
  display: block;
  width: 32px;
  height: 32px;
  background-color: cornflowerblue;
}

main #sixth .sixth-container > div:last-of-type > div div h3 {
  font-size: 2em;
  font-weight: 500;
  margin: 10px 0 15px 0;
  text-align: right;
  color: #ffffff;
}

main #sixth .sixth-container > div:last-of-type > div div p {
  font-weight: 500;
  margin: 0;
  text-align: right;
  color: #ffffff;
}

main #seventh {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #seventh .seventh-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 1320px;
}

main #seventh .seventh-container h2 {
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 50px;
  color: #33353a;
}

main #seventh .seventh-container .blog-post {
  width: 100%;
  height: 484px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #seventh .seventh-container .blog-post > div {
  width: 31.5%;
  height: 100%;
}

main #seventh .seventh-container .blog-post > div div {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

main #seventh .seventh-container .blog-post > div div.blog-info {
  border: 1px solid #dee2e6;
  padding-left: 20px;
}

main #seventh .seventh-container .blog-post > div div.blog-info:nth-of-type(even) {
  border-top: none;
}

main #seventh .seventh-container .blog-post > div div.blog-info:nth-of-type(odd) {
  border-bottom: none;
}

main #seventh .seventh-container .blog-post > div div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #seventh .seventh-container .blog-post > div div h3 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #556b2f;
  margin: 25px 0 0 0;
}

main #seventh .seventh-container .blog-post > div div p:first-of-type {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
  color: #777;
  margin: 10px 0 25px 0;
}

main #seventh .seventh-container .blog-post > div div p:last-of-type {
  font-weight: 500;
  line-height: 25px;
  color: #5e5e5e;
  margin-bottom: 25px;
}

main #seventh .seventh-container .blog-post > div div button {
  width: 154px;
  height: 44px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  text-transform: uppercase;
  border: 2px solid #212529;
  font-size: .9em;
  font-weight: 600;
  color: #212529;
}

main #seventh .seventh-container .blog-post > div div button:hover {
  background-color: #556b2f;
  border: 2px solid #556b2f;
}

main #seventh .seventh-container .blog-post:first-of-type {
  margin-bottom: 50px;
}

main #seventh .seventh-container .blog-post:last-of-type {
  margin-bottom: 100px;
}
/*# sourceMappingURL=main.css.map */